---
title: Unite
---
{% include header.html %}
<h2 class="mt-5">Cómo unirse</h2>
        <p>Poné esto en el código de tu web:</p>
        <div class="row">
            <div class="col-sm-4 text-center my-5">
                <div id="webring-wrapper">
                    <a href="#" id="previousBtn" class="webring-anchor" title="Anterior">‹-</a>
                    <a href="#" class="webring-logo" title="LQring" alt="LQring"></a>
                    <a href="#" id="nextBtn" class="webring-anchor" title="Siguiente">-›</a>
                </div>
                <p class="small text-muted mt-3">Live preview</p>
            </div>
            <div class="col-sm">
                <pre class="px-4 rounded-lg"><code>
&#x3C;div id=&#x22;webring-wrapper&#x22;&#x3E;
  &#x3C;a href=&#x22;https://lqrg.github.io/&#x22; id=&#x22;previousBtn&#x22; class=&#x22;webring-anchor&#x22; title=&#x22;Anterior&#x22;&#x3E;&#x2039;-&#x3C;/a&#x3E;
  &#x3C;a href=&#x22;https://lqrg.github.io/&#x22; class=&#x22;webring-logo&#x22; title=&#x22;LQring&#x22; alt=&#x22;LQring&#x22;&#x3E;&#x3C;/a&#x3E;
  &#x3C;a href=&#x22;https://lqrg.github.io/&#x22; id=&#x22;nextBtn&#x22; class=&#x22;webring-anchor&#x22; title=&#x22;Siguiente&#x22;&#x3E;-&#x203A;&#x3C;/a&#x3E;
  &#x3C;script src=&#x22;https://lqrg.github.io/public/embed.min.js&#x22;&#x3E;&#x3C;/script&#x3E;
&#x3C;/div&#x3E;
          </code></pre>
            </div>
        </div>
        <p>Dsp, añadí un nombre y una URL donde colocó el fragmento de código anterior en el archivo "<a href="https://github.com/lqrg/lqrg.github.io/edit/master/members.json"><code>members.json</code></a>". Y abrí un <a href="https://github.com/lqrg/lqrg.github.io/compare">pull request</a>, lo revisamos y lo añadimos</p>
{% include footer.html %}
