<!DOCTYPE html>
<html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta property="og:site_name" content="LQring">
    <meta property="og:title" content="LuQaska's RinG">
    <meta name="description" content="Páginas hechas por los pibes">
    <meta property="og:description" content="Páginas hechas por los pibes">
    <meta property="og:image" content="public/lqrg.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="public/style.css">
    <title>LuQaska's RinG</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand title" href="index.html" style="color:#ec3750">LQring</a>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link{% if page.title == 'Webs' %} active{% endif %}" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link{% if page.title == 'Unite' %} active{% endif %}" href="/unite">Unite</a></li>
                </div>
                <!--<p class="lead">--><span style="text-align:center" class="navbar-text">Webs hechas por gente como vos</span>
            </div>
    </div><br />
    <div class="container my-5">
