<!DOCTYPE html>
<html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta property="og:site_name" content="LQring">
    <meta property="og:title" content="LuQaska's RinG">
    <meta name="description" content="Páginas hechas por los pibes">
    <meta property="og:description" content="Páginas hechas por los pibes">
    <meta property="og:image" content="public/lqrg.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="public/style.css">
    <title>LuQaska's RinG</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <nav class="navbar fixed-top navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand title" style="color:#ec3750">LQring</a>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link{% if title == 'Webs' %} active{% endif %}" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if title == 'Unite' %} active{% endif %}" aria-current="page" href="/unite">Unite</a>
                    </li>
                </div>
                <!--<p class="lead">--><span class="navbar-text">Webs hechas por gente como vos</span>
            </div>
    </div><br />
    <div class="container my-5">
