<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta property="og:site_name" content="some.ring">
    <meta property="og:title" content="some.geek webring">
    <meta name="description" content="Páginas hechas por los pibes">
    <meta property="og:description" content="Páginas hechas por los pibes">
    <meta property="og:image" content="http://some.geek/sdg.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="public/style.css">
    <link rel="icon" href="/sdg.png">
    <title>some.ring</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand title" href="index.html" style="color:#ec3750">some.ring</a>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link{% if page.title == 'Webs' %} active{% endif %}" href="index">Home</a></li>
                    <li class="nav-item"><a class="nav-link{% if page.title == 'Join' %} active{% endif %}" href="join">Join</a></li>
                </div>
                <!--<p class="lead">--><span style="text-align:center" class="navbar-text">Webs hechas por gente como vos</span>
            </div>
    </div>
    <div class="container my-5">
{{ content }}
        <script src="public/script.js"></script>
    </div>
</body>

</html>
